body {
	font-family: "Poppins", sans-serif;
    background-color: #EFCE7C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.5s ease;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.25);
}

h2 {
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    color: #2c3e50;
    letter-spacing: none;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #34495e;
    font-size: 14px;
    text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: none;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, black);
    transform: translateY(-3px);
}

p {
    margin-top: 20px;
    color: #7f8c8d;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    p {
        font-size: 13px;
    }
}
